<!Doctype html>
    <head>
        {% if title %}
        <title>{{title}} - Bloggit</title>
        {% else %}
        <title>Welcome to Bloggit</title>
            {% endif %}
    </head>
    <body>
        <div>
            <a href="{{url_for('index')}}"><img src="images/bloggit.png"></img> </a>
            {% if g.user.is_authenticated %}
            | <a href="{{ url_for('logout') }}">"Logout"</a>
            {% endif %}

        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{messages}}</l1>
                {% endfor %}
            </ul>
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}

                    
    </body>
</html>
